<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DirectoryPath" value="C:\Users\krist\Desktop\家教課\記帳APP_資料記載\" />
		<add key="DelPicPath" value="C:\Users\krist\Desktop\家教課\記帳APP\垃圾桶.png" />
		<add key="UploadPath" value="C:\Users\krist\Desktop\家教課\記帳APP\上傳圖片.png" />
	</appSettings>
</configuration>